html {
    background-color: slategray;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 87%;
}

.fix {
    clear: both;
    
    }

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color:  wheat;
    background-repeat: repeat-x;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header {
    padding-bottom: 5px;
    padding-top: 20px;
    color: darkslategray;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 300%;
}

header p {
    margin: 0;
}

.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    width: 70%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}

.support {
    width: 30%;
    float: left;
    background-color: #132226;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

p {
    color: #132226;
}

footer p {
    text-align: center;
    font-size: 85%;
    color: #132226;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

header p {
    color: darkred;
}

aside {
    color: #A37C27;
}

header p span {
    color: gray;
}

/* Site Navigation*/

.site-nav {
    margin-top: 20px;
}

.site-nav ul {
margin: 0;
padding: 0;
}

.site-nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site-nav a {
    text-decoration: none;
    color: #563838;
    padding: 10px 20px;
    border: 3px solid #563838;
    display: block;
}

.site-nav a:hover {
    background-color: darkgrey;
}
/* End Site Navigation*/

/* Image Banner */
img {
    max-width: 80%;
    height: auto;
    }
    
    .image-banner {
    position: relative;
    top: 10px;
    right: 10px;
    z-index: 10;
    margin: bottom 30px;
    padding-bottom: 30px;
    }
    
    .image-banner img {
        display: block;
    }
/* End Image Banner*/